<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>JUGUETERIA COSMICA</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="../css/style.css" />
        <script src="/proyecto integrador/js/main.js" async></script>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__container">
                <img
                    src="/proyecto integrador/images/Logo.png"
                    class="logo"
                    alt="logo"
                />
                <a href="../index.html" id="navbar__logo">Jugueteria cosmica</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="../index.html" class="navbar__links"> Home </a>
                    </li>
                    <li class="navbar__item">
                        <a href="contact.html" class="navbar__links">
                            Contacto
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="faq.html" class="navbar__links"> FAQ </a>
                    </li>
                    <li class="navbar__btn">
                        <a href="alta.html" class="button"> Alta </a>
                    </li>
                    <li class="navbar__btn">
                        <a href="#" class="button btn-cart-toggle"> 🛒 </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
            <div class="main__container about">
                <h1>Sobre Nosotros</h1>
                <p>
                    ¡Saludos, pequeños exploradores y amantes de la diversión!
                    ¡Bienvenidos a <b>JUGUETERIA COSMICA</b>, la juguetería
                    donde tus sueños cobran vida y saltan de alegría! Soy
                    vuestro anfitrión animado, un entusiasta juguetón lleno de
                    energía y emoción. En <b>JUGUETERIA COSMICA</b>, no solo
                    vendemos juguetes, ¡sino que creamos momentos mágicos y
                    llenos de risas!
                </p>
                <p>
                    Nuestro equipo de trabajo está formado por un grupo de
                    personas apasionadas y expertas en el mundo de los juguetes.
                    Desde diseñadores creativos hasta expertos en juegos, cada
                    uno de nosotros trabaja incansablemente para seleccionar los
                    juguetes más emocionantes y educativos del mercado. Queremos
                    que cada visita a <b>JUGUETERIA COSMICA</b> sea una
                    experiencia inolvidable para ti y tus amigos.
                </p>
                <p>
                    ¿Y dónde puedes encontrarnos? ¡En todas partes donde la
                    diversión esté presente! Hemos abierto sucursales en
                    diferentes ciudades, desde animados centros comerciales
                    hasta coloridos rincones en el corazón de la ciudad. Puedes
                    encontrarnos en los lugares más emocionantes y vibrantes,
                    siempre listos para brindarte una experiencia única.
                </p>
                <p>
                    Y, por supuesto, nuestros horarios de atención están
                    adaptados a los horarios de juego. Sabemos que la diversión
                    no tiene límites de tiempo, por lo que nuestras puertas
                    están abiertas de lunes a domingo, desde temprano en la
                    mañana hasta la noche. ¡Ven a visitarnos cuando quieras y
                    déjanos sorprenderte con nuestra amplia selección de
                    juguetes y actividades que harán volar tu imaginación!
                </p>
                <p>
                    En <b>JUGUETERIA COSMICA</b>, queremos ser tu compañero de
                    aventuras y tu fuente de alegría. Nos esforzamos por
                    brindarte no solo juguetes, sino también momentos
                    inolvidables. ¡Así que únete a nosotros en
                    <b>JUGUETERIA COSMICA</b>, donde la diversión nunca termina
                    y la emoción está garantizada!
                </p>

                <section class="contenido">
                    <h2 class="cedes__h2">
                        Conoce dónde están ubicadas nuestras cedes
                    </h2>

                    <div class="ubicaciones">
                        <div class="contenido-1">
                            <h3 class="bello">Cabildo</h3>
                            <a href=""
                                >Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Voluptates, quae.</a
                            >

                            <h3 class="castilla">Palermo</h3>
                            <a href=""
                                >Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Voluptates, quae.</a
                            >
                        </div>

                        <div class="contenido-2">
                            <h3 class="robledo">Vicente Lopez</h3>
                            <a href=""
                                >Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Voluptates, quae.</a
                            >

                            <h3 class="belen">Tigre</h3>
                            <a href=""
                                >Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Voluptates, quae.</a
                            >
                        </div>
                    </div>
                </section>
            </div>
        </main>

        <!-- Carrito -->
        <section class="cart-container">
            <div class="modal-header">
                <button type="button" class="close-button" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <h2>Carrito de compras</h2>
            <div class="items">
                <table>
                    <caption>
                        Selecciona el juguete deseado
                    </caption>
                    <tr class="table-title">
                        <th>Cantidad</th>
                        <th>Juguete</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>Transformes - Hasbro</th>
                        <th>$5000</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>Lego Starwars</th>
                        <th>$3000</th>
                    </tr>
                </table>

                <input type="submit" value="Comprar" class="cartButton" />
                <input type="reset" value="Vaciar" class="cartButton" />
            </div>
        </section>

        <footer>
            <div class="flex_container">
                <img src="../images/Logo.png" class="logo" alt="logo" />
            </div>

            <div class="contactos flex_container">
                <h3>Contactos</h3>
                <ul>
                    <li>(+54) 911 5021-1311</li>
                    <li>pedrovilamitjana98@gmail.com</li>
                </ul>
            </div>
            <div class="redes flex_container">
                <div class="flex-items">
                    <div class="flex-items"><p>Redes Sociales:</p></div>
                </div>
                <div class="flex-items responsiveItem">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
                <div class="flex-items responsiveItem">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="flex-items responsiveItem">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="flex-items responsiveItem">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </footer>
    </body>
</html>
